<div class="row g-4 mb-5">
  <% if (data.length === 0) { %>
    <h1 class="display-5 text-center">Article Data Empty</h1>
  <% } %>
  <% data.forEach(item => { %>
    <div class="col-lg-3">
      <div class="card">
        <img src="http://<%= item.thumbnailPicture %>" class="card-img-top" alt="<%= item.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= item.title %></h5>
          <p class="card-text"><%= cutContent(item.content) %></p>
          <a href="/article/<%= item.id %>" class="btn btn-primary">See Details</a>
        </div>
      </div>
    </div>
  <% }) %>
</div>