<%- include('components/header', {name: "Landing Page"}) %>
<div class="hero text-center pt-5 pb-5" style="background-color: #06b6d4;">
  <h1 class="hero-text display-5 fw-bold">TSUNAMI FAKTA</h1>
  <div class="hero-subtext col-lg-6 mx-auto">
    <p style="margin-bottom: 0;">Sumber informasi terpercaya yang ada di muka bumi.</p>
    <p style="padding-bottom: 150px;">Gelombang berita dan fakta terkini, dikemas ringkas dan bisa Anda percaya.</p>
  </div>
</div>
<div class="container mt-5">
  <form action="/article" method="get" class="row my-3 g-3">

      <div class="col-md">
        <input type="search" name="searchQuery" id="searchQuery" placeholder="Search Artikel" class="form-control" value="<%= userInput.searchQuery %>">
      </div>

      <div class="col-md">
        <select name="categoryId" id="categoryId" class="form-select">
          <option <%= !userInput.categoryId ? "selected" : "" %> hidden value="">Filter berdasarkan kategori</option>
          <option value="">-</option>
          <% categoriesArr.forEach(categoryObj => { %>
          <option <%= +userInput.categoryId === categoryObj.id ? "selected" : "" %> value="<%= categoryObj.id %>"><%= categoryObj.name %></option>
          <% }) %>
        </select>
      </div>

      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  <% if (currentUser !== null && currentUser.role === "Penulis") { %>
    <a href="/article/add" class="btn btn-outline-success mb-5">Add new Article</a>
  <% } %>
  <%- include('components/articleCards') %>
<%- include('components/footer') %>