<%- include('components/header', {name: "Article Details", currentUser}) %>
<div class="container">
  <div class="row">
    <div class="col-4 mt-5">
      <a href="/article" class="btn btn-outline-info">Back To Articles</a>
    </div>
  </div>
  <div class="card mt-5">
    <div class="card-header">
      Article Details
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <img src="http://<%= data.thumbnailPicture %>" alt="<%= data.title %>" style="width: 100%;">
        </div>
        <div class="col-8">
          <h1 class="display-6"><%= data.title %></h1>
          <p class="lead"><%= nameSplit(data.User.username) %></p>
          <p><%= data.content %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <% if (currentUser !== null) { %>
      <% if (currentUser.id === data.AuthorId) { %>
        <a class="btn btn-outline-warning">Edit Article</a>
        <a class="btn btn-outline-danger">Delete Article</a>
      <% } %>
      <a class="btn btn-outline-success">Add To Bookmark</a>
    <% } %>
  </div>
</div>
<%- include('components/footer') %>