<%- include('components/header') %>
<main class="flex-grow-1 d-flex">
  <div class="container-fluid w-100 d-flex justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body p-4">
          <h2 class="text-center mb-4">Registrasi</h2>

          <form action="/authentication/register" method="POST">
            
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control <%= errorMessage.username ? "is-invalid" : "" %>" id="username" name="username" value="<%= userInput.username %>">
              <pre class="invalid-feedback"><%= errorMessage.username %></pre>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Alamat Email</label>
              <input type="email" class="form-control <%= errorMessage.email ? "is-invalid" : "" %>" id="email" name="email" value="<%= userInput.email %>">
              <pre class="invalid-feedback"><%= errorMessage.email %></pre>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control <%= errorMessage.password ? "is-invalid" : "" %>" id="password" name="password" value="<%= userInput.password %>">
              <pre class="invalid-feedback"><%= errorMessage.password %></pre>
            </div>

            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select name="role" id="role" class="form-select <%= errorMessage.password ? "is-invalid" : "" %>">
                <option <%= !userInput.role ? "selected" : "" %> hidden value=""></option>
                <% const roleChoices = ['Penulis', 'Pembaca'] %>
                <% roleChoices.forEach(roleChoice => { %>
                  <option <%= userInput.role === roleChoice ? "selected" : "" %> value="<%= roleChoice %>"><%= roleChoice %></option>
                <% }) %>
              </select>
              <pre class="invalid-feedback"><%= errorMessage.role %></pre>
            </div>

            <button type="submit" class="btn btn-primary d-block mx-auto">Daftar Akun</button>
            
          </form>

          <div class="text-center mt-3">
            <small>Sudah punya akun? <a href="/authentication/login">Login di sini</a></small>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('components/footer') %>